<% scope = "pafs_core.projects.steps.funding_calculator.v9" %>
<div class='v9 download-instructions'>
  <h2 class="heading-medium"><%= t('download_heading', scope: scope) %></h2>
  <p><%= t('download_link_label', url: t("funding_calculator_link.v9"), scope: scope).html_safe %></p>

  <p>To complete it, you'll need to know the:</p>
  <ul class="list-bullet">
    <li>the benefits and costs of your project</li>
    <li>how many homes will be better protected, now and in the future</li>
    <li>how many of those homes are in deprived areas</li>
    <li>benefits to wildlife and habitats</li>
    <li>mental health impacts</li>
  </ul>
</div>
