<% scope = "pafs_core.projects.steps.funding_calculator.v9" %>
<div class='v9 download-instructions'>
  <h2 class="heading-medium"><%= t('download_heading', scope: scope) %></h2>
  <p><%= t('download_link_label', url: t("funding_calculator_link.v9"), scope: scope).html_safe %></p>

  <p>To complete it, you'll need to know the:</p>
  <ul class="list-bullet">
    <li>estimated project benefits</li>
    <li>estimated financial costs</li>
    <li>expected outcomes</li>
    <li>duration of benefits</li>
  </ul>
</div>
