<h2 class="heading-medium"><%= t('download_heading', scope: scope) %></h2>
<p>Download the <%= link_to t("funding_calculator_label"), t("funding_calculator_link"), rel: "external", target: "_blank"%></p>
<p>To complete it, you'll need to know the:</p>
<ul class="list-bullet">
  <li>estimated project benefits</li>
  <li>estimated financial costs</li>
  <li>expected outcomes</li>
  <li>duration of benefits</li>
</ul>
