<p>Hello <%= @download_info.requested_by.try(:full_name) %>,</p>
<p>The programme documents you requested on <%= @download_info.requested_on %> are now available to download.</p>
<p>Use the link below to view and download these documents.</p>
<p><%= link_to nil, pafs_core.multi_downloads_url %></p>
<p>If you have any queries, please email <%= mail_to I18n.t("support_email")%></p>
