<!DOCTYPE html>
<html>
<head>
  <title>PafsCore</title>
  <%= stylesheet_link_tag    "pafs_core/application", media: "all" %>
  <%= javascript_include_tag "pafs_core/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
