---
http_interactions:
- request:
    method: get
    uri: https://api.postcodes.io/postcodes?lat=54.155079&limit=1&lon=-3.185137
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33b-8w9U8kyb02uNLav+HVQEtH1ExBQ"
      X-Gnu:
      - Michael J Blanchard
    body:
      encoding: UTF-8
      string: '{"status":200,"result":[{"postcode":"LA15 8AU","quality":1,"eastings":322711,"northings":473946,"country":"England","nhs_ha":"North
        West","longitude":-3.18499584502145,"latitude":54.155493668341,"european_electoral_region":"North
        West","primary_care_trust":"Cumbria Teaching","region":"North West","lsoa":"Barrow-in-Furness
        002B","msoa":"Barrow-in-Furness 002","incode":"8AU","outcode":"LA15","distance":47.06810128,"parliamentary_constituency":"Barrow
        and Furness","admin_district":"Barrow-in-Furness","parish":"Dalton Town with
        Newton","admin_county":"Cumbria","admin_ward":"Dalton South","ccg":"NHS Morecambe
        Bay","nuts":"West Cumbria","codes":{"admin_district":"E07000027","admin_county":"E10000006","admin_ward":"E05003148","parish":"E04002443","parliamentary_constituency":"E14000543","ccg":"E38000216","nuts":"UKD11"}}]}'
  recorded_at: Tue, 01 May 2018 13:45:10 GMT
[...]
- request:
    method: get
    uri: https://api.postcodes.io/postcodes?lat=51.374086&limit=1&lon=1.123861
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c-C4NcFMR9ZJvtLuqE6P6UsNsSIg8"
      X-Gnu:
      - Michael J Blanchard
    body:
      encoding: UTF-8
      string: '{"status":200,"result":null}'
  recorded_at: Tue, 01 May 2018 13:45:13 GMT
recorded_with: VCR 3.0.3
