<div class="step-container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= pafs_form_for project, url: save_project_step_path(id: project.to_param, step: project.step) do |f| %>
        <%= f.error_header %>
        <h1 class="heading-large"><%= heading %></h1>
        <div class="step-form">
          <div class="form-group">
            <%= f.submit t("save_and_continue_label"), class: 'button' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
