@import 'colours';
@import 'typography';

.sidebar-heading {
  @include core-16;
  background-color: $grey-3;
  border-top: 10px solid $govuk-blue;
  padding: 1em;

  .heading-small {
    margin-top: 0;

    span {
      display: block;
    }
  }

  a {
    background-color: transparent;
    text-decoration: none;

    &:visited {
      color: $link-colour;
    }

    &:hover {
      color: $link-hover-colour;
      text-decoration: underline;
    }

    &:active {
      background-color: transparent;
      color: $link-colour;
    }

    &:focus {
      background-color: transparent;
      outline: unset;
    }
  }
}

.sidebar-nav {
  @include core-16;
  padding-left: 1em;

  .heading-small {
    margin-bottom: 0.1em;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    line-height: 1.25em;
    margin-bottom: 0.25em;

    .complete-flag {
      color: $button-colour;
      float: left;
      min-width: 1.2em;
    }

    a, .selected, .inactive {
      display: block;
      margin-left: 1.2em;
      padding-bottom: 0;
    }

    .selected {
      border-bottom: 2px solid $text-colour;
      color: $text-colour;
    }

    .inactive {
      border-bottom: 2px solid $white;
      color: $secondary-text-colour;
    }
  }

  .nav-link {
    border-bottom: 2px solid $white;
    display: block;
    text-decoration: none;

    &:visited {
      background-color: transparent;
      color: $link-colour;
    }

    &:hover {
      border-bottom: 2px solid $link-hover-colour;
      color: $link-hover-colour;
    }

    &:active {
      background-color: transparent;
      color: $link-colour;
    }

    &:focus {
      background-color: transparent;
      outline: unset;
    }
  }
}
