@import "typography";
@import "colours";

.js-enabled .js-hidden {
  display: none;
  visibility: initial;
}

.confirmation-box {
  //background-color: $department-for-environment-food-rural-affairs;
  color: $white;
  background-color: $turquoise;
  margin: 1em 0 1em 0;
  padding: 2em 0 1em 0;
  text-align: center;

  h1 {
    @include core-36;
    font-weight: 700;
    line-height: 1.1em;
  }
}

.divider {
  border-top: 1px solid $grey-2;
  margin-bottom: 2em;
}

.step-container {
  .heading-large {
    margin-top: 1.25em;
  }

  .step-form {
    margin-top: 1em;
    
    .form-group {
      .with-divider {
        border-bottom: 1px solid $grey-2;
        padding-bottom: 0.25em;
      }
      .this-is-not-the-content-you-are-looking-for {
        margin-bottom: 3em;
      }


      .panel {
        clear: both;
        border-left-style: solid;
        border-color: $grey-2;
        padding: 0.8em;
        margin-bottom: 0.8em;

        .form-control {
          width: 100%;
        }
      }

      .panel-border-narrow {
        border-left-width: 5px;
        padding-bottom: 0;
      }

    }
    .form-date {
      .form-group-month {
        float: left;
        width: 4em;
        // margin-right: 20px;
        margin-bottom: 0;
        clear: none;

        .form-month {
          width: 70%;
        }
      }
    }
    .form-year {
      width: 4em;
    }
  }
}
