@import 'typography';
@import 'colours';

.js-enabled .js-hidden {
  display: none;
  visibility: initial;
}

.no-error .form-control {
  // remove error highlighting from nested form-controls
  border: 2px solid $grey-1;
}

.no-error .error .form-control {
  // ensure error border when nested form-control has error but parent doesn't
  border: 4px solid $red;
}

.scroll-horz {
  overflow-x: auto;
}

.funding-table-summary .data-column {
  text-align: right;
}

.funding-table {
  .data-column {
    text-align: center;
  }

  &.hidden-totals {
    tbody td:last-child, th:last-child {
      display: none;
    }
  }
}

.funding-table, .funding-table-summary, .protection-outcomes-table, .protection-outcomes-table-summary {
  th {
    vertical-align: top;
  }

  .financial-year-column {
    min-width: 6.5em;
  }

  .data-column {
    min-width: 6em;
    width: 7em;
  }

  .protection-outcomes {
    text-align: left;
  }

  .protection-outcomes-subheading {
    text-align: right;
  }

  .significant-to-low-risk {
    width: 11.5em;
  }

  .most-deprived {
    width: 7.5em;
  }

  .protection-value {
    text-align: right;
  }

  .households-protected {
    width: 6em;
  }

  .data-total {
    min-width: 6em;
    text-align: right;
    width: 7em;
  }

  .funding-value {
    text-align: right;
    width: 6em;
  }

  tfoot td, .row-total {
    font-weight: bold;
  }

  &.hidden-totals {
    tfoot > tr {
      display: none;
    }
  }
}

.project-link {
  background-color: transparent;
  text-decoration: none;

  &:visited {
    color: $link-colour;
  }

  &:hover {
    color: $link-hover-colour;
    text-decoration: underline;
  }

  &:active {
    background-color: transparent;
    color: $link-colour;
  }

  &:focus {
    background-color: transparent;
    outline: unset;
  }
}

.confirmation-box {
  background-color: $turquoise;
  color: $white;
  margin: 1em 0 1em 0;
  padding: 2em 0 1em 0;
  text-align: center;

  h1 {
    @include core-36;
    font-weight: 700;
    line-height: 1.1em;
  }
}

.divider {
  border-top: 1px solid $grey-2;
  margin-bottom: 2em;
}

.summary {
  td {
    @include core-19;
    padding: 0.75em 1.25em 0.5em 0;
    vertical-align: top;

    &:last-child {
      text-align: right;
    }
  }
}

.step-container {
  .heading-large {
    margin-top: 1.25em;
  }
}

.step-form {
  margin-top: 1em;

  .with-divider {
    border-bottom: 1px solid $grey-2;
    padding-bottom: 0.25em;
  }

  .this-is-not-the-gateway-you-are-looking-for {
    margin-bottom: 1em;
  }

  .control-text-block {
    clear: both;
    display: block;
    margin-bottom: 0.5em;
  }

  .panel {
    border-color: $grey-2;
    border-left-style: solid;
    clear: both;
    margin-bottom: 0.8em;
    padding: 0.8em;

    .form-control {
      width: 100%;
    }
  }

  .panel-border-narrow {
    border-left-width: 5px;
    padding-bottom: 0;
  }

  .form-group-month {
    clear: none;
    float: left;
    margin-bottom: 0;
    margin-right: 0;
    width: 3.5em;

    .form-month {
      width: 2.5em;
    }
  }

  .form-group-year {
    .form-year {
      width: 3.5em;
    }
  }

  .form-year {
    width: 3.5em;
  }

  .form-wide {
    width: 100%;
  }

  .form-narrow {
    width: 3em;
  }

  .form-medium {
    width: 5em;
  }
}

.vertical-squash {
  .form-group {
    margin-bottom: 1em;
  }

  .heading-medium {
    margin-top: 0.8em;
  }
}

.headroom {
  clear: both;
  margin-top: 1.5em;
}
