@import 'grid_layout';
@import 'typography';
@import 'colours';

$icon-outline-colour: rgba(11, 12, 12, 0.1);
$icon-shadow-colour: rgba(0, 0, 0, 0.4);

.space-kids > * {
  margin-right: 0.5em;

  @include media(mobile) {
    margin-right: 0;
  }
}

.page-nav {
  @include core-16;

  margin-top: 1em;
}

.pagination-area {
  margin-right: 1em;
  text-align: right;

  .page {
    padding: 0.15em;
  }
}

.secondary-button {
  background-color: $link-colour;
  margin-left: 0.5em;

  @include media(mobile) {
    margin-left: 0;
  }

  &:link, &:hover, &:focus, &:visited {
    color: $white;
  }

  &:visited {
    background-color: $link-colour;
  }

  &:hover, &:focus {
    background-color: $purple;
  }
}

.indent {
  margin-left: 1em;
}

.half-indent-with-top-margin {

  margin-left: 0.5em;
  margin-top: 0.5em;
  }

.column-three-quarters {
  @include grid-column(3 / 4);
}

.js-enabled .js-hidden {
  display: none;
  visibility: initial;
}

.no-error .form-control {
  // remove error highlighting from nested form-controls
  border: 2px solid $grey-1;
}

.no-error .error .form-control {
  // ensure error border when nested form-control has error but parent doesn't
  border: 4px solid $red;
}

.scroll-horz {
  overflow-x: auto;
}

.urgent {
  color: $red;
}

.with-seperator {
  border-bottom: 1px solid $grey-2;
  margin-bottom: 0.5em;
}

.pushed-up {
  margin-top: -0.5em;
}

.funding-table-summary .data-column {
  text-align: right;
}

.funding-table {
  .data-column {
    text-align: center;
  }

  &.hidden-totals {
    tbody td:last-child, th:last-child {
      display: none;
    }
  }
}

.list-intro {
  margin-bottom: 0.4em;
}

.spaced-list {
  li {
    padding-bottom: 0.3em;
  }
}

.attachment {
  margin-top: 0.25em;

  .attachment-thumb {
    float: left;
    margin-right: 1.5em;
    margin-top: 0.3em;
    padding-bottom: 1em;
    position: relative;

    img {
      background-color: $white;
      box-shadow: 0 2px 2px $icon-shadow-colour;
      outline: 5px solid $icon-outline-colour;

      @include media(mobile) {
        height: 70px;
        width: 49px;
      }

      @include media(tablet) {
        height: 93px;
        width: 66px;
      }

      @include media(desktop) {
        height: 140px;
        width: 99px;
      }
    }
  }

  .attachment-details {
    .title {
      @include core-16;
    }

    a {
      font-size: inherit;
    }
  }
}

.metadata {
  margin-bottom: 1em;

  dd {
    display: inline;
    margin: 0;

    &::after {
      content: '';
      display: block;
    }
  }

  dt {
    display: inline-block;
  }
}

.funding-table, .funding-table-summary, .protection-outcomes-table, .protection-outcomes-table-summary {
  th {
    vertical-align: top;
  }

  .financial-year-column {
    min-width: 6.5em;
  }

  .data-column {
    min-width: 6em;
    width: 7em;
  }

  .protection-outcomes {
    text-align: left;
  }

  .protection-outcomes-subheading {
    text-align: right;
  }

  .significant-to-low-risk {
    width: 11.5em;
  }

  .most-deprived {
    width: 7.5em;
  }

  .protection-value {
    text-align: right;
  }

  .households-protected {
    width: 6em;
  }

  .data-total {
    min-width: 6em;
    text-align: right;
    width: 7em;
  }

  .funding-value {
    text-align: right;
    width: 6em;
  }

  tfoot td, .row-total {
    font-weight: bold;
  }

  &.hidden-totals {
    tfoot > tr {
      display: none;
    }
  }
}

.project-overview-head {
  dd {
    display: inline;
    margin: 0;

    @include media(mobile) {
      display: block;
      margin-bottom: 0.25em;
    }

    &::after {
      content: '';
      display: block;
    }
  }

  dt {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0.15em;
    width: 35%;

    @include media(mobile) {
      display: block;
      width: auto;
    }
  }
}

.project-link {
  background-color: transparent;
  text-decoration: none;

  &:visited {
    color: $link-colour;
  }

  &:hover {
    color: $link-hover-colour;
    text-decoration: underline;
  }

  &:active {
    background-color: transparent;
    color: $link-colour;
  }
}

.map-link {
  margin-bottom: 1.5em;
  // scss-lint:disable QualifyingElement
  a[rel="external"]::after {
    background-position-y: 2px;
  }
}

.change-link {
  margin-bottom: 1em;
  margin-right: 1.25em;
  // margin-top: 0.5em;
  text-align: right;

  @include media(mobile) {
    margin-right: inherit;
    text-align: inherit;
  }
}

.table-change-link {
  margin-bottom: 1em;
  margin-right: 0;
  text-align: right;
}

.add-row {
  border-left: 5px solid $govuk-blue;
  margin-bottom: 0.25em;
  margin-top: -1em;
  padding-left: 15px;
  padding-top: 1.4em;

  @include media(mobile) {
    border-left: 4px solid $govuk-blue;
    padding-left: 10px;
  }

  .heading-medium {
    margin-top: 0;
  }
}

.error .add-row {
  border-left: none;
  margin-top: 0;
  padding-left: 0;
  padding-top: 0;
}

.align-right {
  text-align: right;

  @include media(mobile) {
    text-align: inherit;
  }
}

.add-link {
  @include media(desktop) {
    margin-right: 1em;
    margin-top: 0.2em;
    text-align: right;
  }

  @include media(tablet) {
    margin-right: 1em;
    text-align: right;
  }
}

.half-width {
  width: 50%;
}

.submit-proposal {
  margin-bottom: 2em;
  margin-top: 1.5em;
}

.project-summary {
  margin-bottom: 2em;

  .form-group {
    margin-bottom: 0.25em;
  }
}

.submission {
  margin-top: 2em;
}

.summary-heading {
  border-bottom: 3px solid $black;
  margin-bottom: 1em;
  margin-top: 0.125em;
}

.summary-item {
  border-bottom: 1px solid $grey-2;

  .heading-medium {
    margin-top: 0;
  }
}

.summary-item-content {
  margin-bottom: 1em;

  .heading-medium {
    margin-bottom: 0.5em;
    margin-top: 1.5em;
  }
}

.no-error .summary-item {
  margin-top: 1em;
}

.error .summary-item .heading-medium {
  margin-top: 0;
}

.full-table {
  tr:last-child > td {
    border-bottom: none;
  }
}

.summary-list {
  li {
    margin-top: 0.5em;
    padding-bottom: 0.75em;
  }
}

.summary-sub-heading {
  border-bottom: 1px solid $grey-2;
  margin-top: 1.5em;
  padding-bottom: 0.5em;
}

.column-heading-small {
  @include bold-16;
}

.underlined-items {
  li:nth-child(n+2) {
    padding-top: 0.5em;
  }

  li:nth-last-child(n+2) {
    border-bottom: 1px solid $grey-2;
  }
}

.underlined-all-items {
  li:nth-child(n+2) {
    padding-top: 0.5em;
  }

  li {
    border-bottom: 1px solid $grey-2;
  }
}

.confirmation-box {
  background-color: $turquoise;
  color: $white;
  margin: 1em 0 1em 0;
  padding: 2em 0 1em 0;
  text-align: center;

  h1 {
    @include core-36;
    font-weight: 700;
    line-height: 1.1em;
  }
}

.divider {
  border-top: 1px solid $grey-2;
  margin-bottom: 2em;
}

.summary {
  td {
    @include core-19;
    padding: 0.75em 1.25em 0.5em 0;
    vertical-align: top;

    &:last-child {
      text-align: right;
    }
  }
}

.step-container {
  .heading-large {
    margin-top: 1.25em;
  }
}

.step-form {
  margin-top: 1em;

  .with-divider {
    border-bottom: 1px solid $grey-2;
    padding-bottom: 0.25em;
  }

  .this-is-not-the-gateway-you-are-looking-for {
    margin-bottom: 1em;
  }

  .control-text-block {
    clear: both;
    display: block;
    margin-bottom: 0.5em;
  }

  .panel {
    border-color: $grey-2;
    border-left-style: solid;
    clear: both;
    margin-bottom: 0.8em;
    padding: 0.8em;

    .form-control {
      width: 100%;
    }
  }

  .panel-border-narrow {
    border-left-width: 5px;
    padding-bottom: 0;
  }

  .form-group-month {
    clear: none;
    float: left;
    margin-bottom: 0;
    margin-right: 0;
    width: 3.5em;

    .form-month {
      width: 2.5em;
    }
  }

  .form-group-year {
    .form-year {
      width: 3.5em;
    }
  }

  .form-year {
    width: 3.5em;
  }

  .form-wide {
    width: 100%;
  }

  .form-narrow {
    width: 3em;
  }

  .form-medium {
    width: 5em;
  }
}

.vertical-squash {
  .form-group {
    margin-bottom: 1em;
  }

  .heading-medium {
    margin-top: 0.8em;
  }
}

.headroom {
  clear: both;
  margin-top: 1.5em;
}

.footroom {
  clear: both;
  margin-bottom: 1.5em;
}

.project-downloads {
  margin-top: 1em;
  overflow: auto;
  padding: 0.5em;
  padding-top: 1.5em;
}

.projects-download-link {
  margin-bottom: 1em;
  overflow: auto;
  padding: 0 0.5em 0.5em 0.5em;
}

.project-documents-download-link {
  margin-top: 3.75em;
  text-align: right;

  @include media(mobile) {
    text-align: left;
  }
}

.error-page {
  text-align: center;

  .message1 {
    margin-top: 2em;
  }

  .message2 {
    margin-bottom: 4em;
  }
}

.sortable-heading {
  text-decoration: none;
}
