@import 'typography';
@import 'colours';

.js-enabled .js-hidden {
  display: none;
  visibility: initial;
}

.project-link {
  background-color: transparent;
  text-decoration: none;

  &:visited {
    color: $link-colour;
  }

  &:hover {
    color: $link-hover-colour;
    text-decoration: underline;
  }

  &:active {
    background-color: transparent;
    color: $link-colour;
  }

  &:focus {
    background-color: transparent;
    outline: unset;
  }
}

.confirmation-box {
  background-color: $turquoise;
  color: $white;
  margin: 1em 0 1em 0;
  padding: 2em 0 1em 0;
  text-align: center;

  h1 {
    @include core-36;
    font-weight: 700;
    line-height: 1.1em;
  }
}

.divider {
  border-top: 1px solid $grey-2;
  margin-bottom: 2em;
}

.summary {
  td {
    @include core-19;
    padding: 0.75em 1.25em 0.5em 0;
    vertical-align: top;

    &:last-child {
      text-align: right;
    }
  }
}

.step-container {
  .heading-large {
    margin-top: 1.25em;
  }
}

.step-form {
  margin-top: 1em;

  .with-divider {
    border-bottom: 1px solid $grey-2;
    padding-bottom: 0.25em;
  }

  .this-is-not-the-gateway-you-are-looking-for {
    margin-bottom: 1em;
  }

  .panel {
    border-color: $grey-2;
    border-left-style: solid;
    clear: both;
    margin-bottom: 0.8em;
    padding: 0.8em;

    .form-control {
      width: 100%;
    }
  }

  .panel-border-narrow {
    border-left-width: 5px;
    padding-bottom: 0;
  }

  .form-group-month {
    clear: none;
    float: left;
    margin-bottom: 0;
    margin-right: 0;
    width: 4em;

    .form-month {
      width: 70%;
    }
  }

  .form-year {
    width: 4em;
  }

  .form-wide {
    width: 100%;
  }
}

.vertical-squash {
  .form-group {
    margin-bottom: 1em;
  }

  .heading-medium {
    margin-top: 0.8em;
  }
}

.headroom {
  clear: both;
  margin-top: 1.5em;
}
