<div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
  <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
    Area programme generation failed
  </h1>
  <p>The previous request raised by <%= downloads.requested_by.full_name %> on
    <%= downloads.requested_on %> did not complete successfully.
  </p>
  <p>Please try again.</p>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
    <%= link_to "Generate area programme", pafs_core.generate_multi_downloads_path,
        class: "button headroom-smaller", role: "button" %>
  </div>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
    <details class="headroom">
      <summary><span class="summary">Why do I need to generate area programme?</span></summary>
      <div class="panel panel-border-narrow">
        <p>
          By generating the area programme you ensure that the latest proposals are included in the FCERM1 file,
          alongside their supporting shapefiles and moderation forms.
        </p>
        <p>
          This may take several minutes and you will receive an email notification once completed.
        </p>
      </div>
    </details>
  </div>
</div>
