<div class="grid-row">
  <div class="column-two-thirds">
    <h2 class="heading-medium">The programme is being generated</h2>
    <div class="headroom-shuffle-up">
      Requested by <span class="bold-small"><%= @downloads.requested_by.try(:full_name) || "Unknown" %></span>
      on <%= @downloads.requested_on %>
    </div>
  </div>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="panel panel-border-narrow">
      <p>
        This may take several minutes to complete.
        Re-visit this page later to download the programme.
      </p>
      <% if @downloads.requested_by.try(:email) == current_resource.email %>
        <p>
          As the requestor, you will receive an email once the programme is ready to download.
        </p>
      <% end %>
    </div>
  </div>
</div>
