<% content_for :page_title, make_page_title(t('download_all_proposals_label')) %>

<h1 class="heading-large"><%= t('download_all_proposals_label') %></h1>
<div class="sub-heading">
  <% if @downloads.count == 1 %>
    There is <span class="bold-small">1</span> proposal available for the area programme.
  <% else %>
    There are <span class="bold-small"><%= @downloads.count %></span> proposals available for the area programme.
  <% end %>
</div>
<%= render partial: @downloads.documentation_state.current_state.to_s, locals: { downloads: @downloads } %>
