<h1>What would you like to name your project?</h1>
<div>
  <%= form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit 'Save and Continue', class: 'button' %>
  <% end %>
</div>
