---
http_interactions:
- request:
    method: get
    uri: https://api.postcodes.io/postcodes?lat=51.8913576&limit=1&lon=-1.16244052&wideSearch=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2e3-Go7qwtWs+rUMgN3orLL7bA"
      X-Gnu:
      - Michael J Blanchard
    body:
      encoding: UTF-8
      string: '{"status":200,"result":[{"postcode":"OX26 1AN","quality":1,"eastings":457580,"northings":221711,"country":"England","nhs_ha":"South
        Central","longitude":-1.16471434731119,"latitude":51.8909890251997,"parliamentary_constituency":"Banbury","european_electoral_region":"South
        East","primary_care_trust":"Oxfordshire","region":"South East","lsoa":"Cherwell
        015D","msoa":"Cherwell 015","incode":"1AN","outcode":"OX26","distance":161.822941285,"admin_district":"Cherwell","parish":"Bicester","admin_county":"Oxfordshire","admin_ward":"Bicester
        South and Ambrosden","ccg":"NHS Oxfordshire","nuts":null,"codes":{"admin_district":"E07000177","admin_county":"E10000025","admin_ward":"E05010927","parish":"E04012365","ccg":"E38000136","nuts":null}}]}'
  recorded_at: Wed, 05 Oct 2016 10:27:17 GMT
recorded_with: VCR 3.0.3
