<div class="step-container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="js-hidden">
        <%= render partial: 'pafs_core/projects/steps/map/upload' %>
      </div>
      <div class="js-map hidden">
        <%= render partial: 'pafs_core/projects/steps/map/map' %>
      </div>
    </div>
  </div>
</div>
