<div class="step-container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <div>
        <%= render partial: 'pafs_core/projects/steps/map/upload' %>
      </div>
    </div>
  </div>
</div>
