<details role="group">
  <summary role="button" aria-controls="data-notice">
    <span class="summary">Standard data notice</span>
  </summary>
  <div class="panel-indent" id="data-notice">
    <h2 class="heading-small">How we will use your personal information?</h2>
    <p>
      The Environment Agency will process the information you provide so that
      we can:
    </p>
    <ul class="list-bullet">
      <li>review your project proposal</li>
      <li>prioritise your project proposal</li>
      <li>determine eligibility for indicative grant-in-aid funding</li>
    </ul>
    <h2 class="heading-small">We may also process or release the information to:</h2>
    <ul class="list-bullet">
      <li>offer you documents or services relating to environmental matters</li>
      <li>consult the public, public organisations and other organisations (for example, the Health and Safety Executive) on environmental issues</li>
      <li>carry out research and development work on environmental issues</li>
      <li>carry out research and development work on environmental issues </li>
      <li>assess whether customers are satisfied with our service, and improve our service</li>
      <li>respond to information requests under the Freedom of Information Act 2000 and the Environmental Information Regulations 2004 (if the Data Protection Act allows)</li>
    </ul>
    <p>
      We may pass the information on to our agents or representatives to do
      these things for us.
    </p>
  </div>
</details>
