<article class="summary-item" aria-labelledby="earliest-start">
  <% if project.earliest_start_started? %>
    <h2 class="heading-medium" role="heading" id="earliest-start">Earliest start</h2>
    <div class="grid-row">
      <div class="column-two-thirds">
        <% if project.could_start_early? %>
          <% if project.earliest_start_month.nil? %>
            <p><em>The earliest date the project could start has not been provided</em><p>
          <% else %>
            <p>The earliest date the project could start without impacting deliverability or outcomes is <%= project.earliest_start_date %></p>
          <% end %>
        <% else %>
          <p>The project cannot start earlier without impacting deliverability or outcomes.</p>
        <% end %>
      </div>
      <div class="column-one-third">
        <% if project.draft? %>
          <div class="change-link">
            <%= link_to pafs_core.project_step_path(id: project.to_param, step: :earliest_start) do -%>
              Change<span class="visually-hidden"> whether the project could start earlier without impacting deliverability or outcomes</span>
            <% end -%>
          </div>
        <% end -%>
      </div>
    </div>
  <% else %>
    <div class="add-row">
      <div class="grid-row">
        <div class="column-three-quarters">
          <h2 class="heading-medium" role="heading" id="earliest-start">Earliest start</h2>
        </div>
        <div class="column-one-quarter">
          <div class="add-link">
            <%= link_to pafs_core.project_step_path(id: project.to_param, step: :earliest_start) do -%>
              Add<span class="visually-hidden"> whether the project could start earlier without impacting deliverability or outcomes</span>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</article>
