<div class="govuk-box-highlight">
  <h1 class="bold-large"><%= title %></h1>
  <% unless reference_number.nil? %>
  <p>The national project number is<br>
  <strong class="heading-medium"><%= reference_number %></strong>
  <% end %>
  </p>
</div>

