<% content_for :page_title, make_page_title(t("proposal_submitted", scope: "page_titles")) %>
<div class="step-container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= render partial: "confirm_banner",
        locals: { reference_number: @project.reference_number,
                  title: "Proposal under review" } %>

      <h2 class="heading-medium">If you need to change your proposal</h2>
      <ul class="list list-bullet">
        <li>Login to Project Online where this project can now be viewed and edited.</li>
      </ul>

      <div class="form-group headroom">
      <%= link_to "Return to your proposal overview", project_path(@project), class: "button", role: "button" %>
      </div>
    </div>
  </div>
</div>
