<h1 class="heading-large">This service is only available for projects that need sunding before <%= six_year_limit_date %></h1>
<p>If you'd like to submit a project that needs funding after 31 March 2021, download the <%= link_to t("fcerm_form_label"), t("fcerm_form_link"), rel: "external", target: "_blank" %>.</p>
<p>Complete part 1 of the form and email it to your local partnership and strategic overview officer.</p>
<p>You can submit the full application at a later date.</p>
<p>
  <%= link_to t("back_to_start_label"), pafs_core.projects_path, class: "button", role: "button" %>
</p>
